.header {
    background-color: var(--blue);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    width: 100%;
}

.appName {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 2px 2px 10px rgba(4, 4, 4, 0.3);
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 20px;
}

.searchBar {
    width: 36rem;
}

.searchBar input {
    width: 100%;
    padding: 12px;
    border-radius: 5px;
    border: none;
}

.profileMenu {
    position: relative;
}

.profileButton {
    background-color: var(--brueAuxiliar);
    color: white;
    padding: 13px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    min-width: 150px;
}

.dropdown a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #2c3e50;
}

.dropdown a:hover {
    background-color: #f4f4f4;
}

.profileMenu:hover .dropdown {
    display: block;
}

@media (max-width: 768px) {
    
    .header {
        flex-direction: column;
        align-items: flex-start;
    }
    .search-bar {
        width: 100%;
        margin: 10px 0;
    }
}
